<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>12:00</td>  <td>Optional tech support office hours</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/index.html">Tidy Data (episodes 1-3)</a></td> </tr>
      <tr> <td>1:35</td>  <td>30 min Break</td> </tr>
      <tr> <td>2:05</td>  <td><a href="https://librarycarpentry.org/lc-spreadsheets/03-dates-as-data.html">Tidy Data (episodes 4-7)</a></td> </tr>                                 
      <tr> <td>3:15</td>  <td>30 min Break</td> </tr>
      <tr> <td>3:45</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine (episodes 1-4)</a></td> </tr>
      <tr> <td>4:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>5:00</td>  <td>End of Day 1</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Optional tech support office hours</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/07-introduction-to-transformations.html">OpenRefine (episodes 5-9)</a></td> </tr>
      <tr> <td>1:30</td>   <td>30 min Break</td> </tr>
      <tr> <td>2:00</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/10-data-transformation.html">OpenRefine (episodes 10-13)</a></td> </tr>
      <tr> <td>3:15</td>   <td>30 min Break</td> </tr>      
      <tr> <td>3:45</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>4:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>5:00</td>  <td>End of Day 2</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>12:00</td>  <td>Optional tech support office hours</td> </tr>
      <tr> <td>12:30</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell (episodes 1-2)</a></td> </tr>
      <tr> <td>1:05</td>  <td>5 min Break</td> </tr>
      <tr> <td>1:10</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell (episodes 3-4)</a></td> </tr>     
      <tr> <td>2:10</td>  <td>5 min Break</td> </tr>
      <tr> <td>2:20</td>  <td><a href="https://librarycarpentry.org/lc-shell/05-counting-mining.html">The Unix Shell (episode 5)</a></td> </tr>
      <tr> <td>3:50</td>  <td>10 min Break</td> </tr>
      <tr> <td>4:00</td>  <td><a href="https://librarycarpentry.org/lc-shell/06-free-text.html">The Unix Shell (episode 6)</a></td> </tr>
      <tr> <td>5:00</td>  <td>End of Day 3</td> </tr>
      <tr> <td>After Workshop</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
      
    </table>
  </div>
</div>
